<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empezando Mercadoliebre</title>
    <link rel="stylesheet" href="/views/home.html">
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="nav-top">
            <img src="/img/logo-mercado-liebre.svg" alt="Logotipo">
            <input class="busqueda" type="text" placeholder="Buscar productos, marcas y mas"> <i
                class="fa-brands fa-sistrix" style="color: black;"></i>
            <h4> <i class="fa-solid fa-money-bills" style="color: black;"></i> Compra en cuotas y sin tarjeta de credito
            </h4>
        </div>
        <nav>
            <ul class="Links">
                <li>Todos los productos</li>
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
                <ul class="accesos-links">
                    <li> <i class="fa-solid fa-address-card" style="color: black;"></i> Crea tu cuenta</li>
                    <li> <i class="fa-solid fa-right-from-bracket" style="color: black;"></i> Ingresa</li>
                    <li> <i class="fa-solid fa-basket-shopping" style="color: black;"></i> Mis compras</li>
        </nav>
    </header>

    <div class="banner">
        <img src="/img/img-home-banner.jpg" alt="banners de propaganda">
    </div>


    <main>
        <div>
            <h1>Basado en la ultima visita</h1>
        </div>

        <div class="ultima-visita">

            <li> <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera"></li>

            <li><img src="/img/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10"></li>

            <li><img src="/img/img-macbook-pro-2019.jpg" alt="computadora"></li>

            <li><img src="/img/img-tv-samsung-smart.jpg" alt="Tv Samsung"></li>

        </div>
    </main>

    <footer></footer>



</body>

</html>