body {
    background-color: grey;
}

* {
    padding: 0;
    margin: 0px;

}

/*header*/

.nav-top {
    height: 100px;
    width: 100%;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-between;

}

.nav-top img {
    width: 200px;
}

.busqueda {
    position: relative;
    color: #333;
    font-size: 15px;
    font-family: inherit;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    width: 60%;
    padding: 20px 120px 20px 30px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 1.5px;
}

.Links {
    background-color: yellow;
    display: flex;
    list-style: none;
    text-align: right;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
    margin-left: 0px;
    height: 50px;
    width: 100%;
}

.accesos-links{
    display: flex;
    list-style-type: none;
    list-style: none;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.accesos {
    display: flex;
    text-align: right !important;
    list-style-type: none;
    justify-content: flex-end;
}

.banner {
    width: 100%;
  
  }

/*main*/

.ultima-visita {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: start;
    
}

.tarjeta-producto{
    max-width: 360px;
    width: 23%;
    min-width: 280px;
    margin: 15px auto;
    display: block;
}

.tarjeta-producto2{
    max-width: 360px;
    width: 100%;
    margin: 15px auto;
    display: block;
}

.tarjeta-producto3{
    max-width: 360px;
    width: 100%;
    margin: 15px auto;
    display: block;
}

.tarjeta-producto4{
    max-width: 360px;
    width: 100%;
    margin: 15px auto;
    display: block;
}

.tarjeta-producto5{
    max-width: 360px;
    width: 100%;
    margin: 15px auto;
    display: block;
}

.tarjeta-producto6{
    max-width: 360px;
    width: 100%;
    margin: 15px auto;
    display: block;
}

/*footer*/

.footer{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    align-items: baseline;
}

.parrafo1{
    margin: 50px 0;
    display: flex;
    flex-direction: column
}

.parrafo2{
    margin: 50px 0;
    display: flex;
    flex-direction: column  
}

.parrafo3{
    margin: 50px 0;
    display: flex;
    flex-direction: column  
}